html{
	background-color: black;
	margin: 15px 200px;
	border: 2px solid #00ff00;
	color: #00ff00;
	font-family: digital;
}

#logo{
	width: 600px;
	display: block;
	margin: 0 auto;
}

#banner-h{
	display: block;
	width: 800px;
	margin: 0 auto;
}

h1, h2, h3, p{
}

h1, h2{
	text-align: center;
}

h2{
	font-size: 32px;
	margin: 6px auto;
}

h3{
	font-size: 24px;
	margin: 6px auto;
}

p{
	border: 2px solid #00ff00;
	padding: 5px;
	width: 600px;
}

a:link{
	color: #00ff00;
}
a:hover{
	color: red;
}